@import url('./__title/lead__title.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
    font-family: 'Inter', sans-serif;
    max-width: 984px;
    margin: 0 auto;
} 


@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 48px;

    }
}

@media screen and (max-width: 780px) {
    .lead {
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin: 0;
    }
}

